<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>易菜篮</title>
<meta name="description" content="这是一个 index 页面">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="__STATIC__/assets/css/amazeui.min.css"/>
<link rel="stylesheet" href="__STATIC__/assets/css/admin.css">
<link rel="stylesheet" href="__STATIC__/assets/css/bootstrap.min.css">
<script src="__STATIC__/assets/js/jquery.min.js"></script>
<script src="__STATIC__/assets/js/app.js"></script>
</head>
<body>
{include file="layout/top-nav"}

<div class="am-cf admin-main"> 

{include file="layout/sidebar"}


<div class=" admin-content">
	
		<div class="daohang">
			<ul>
				<li><button type="button" class="am-btn am-btn-default am-radius am-btn-xs"><a href="{:url('/admin/index/index')}">首页</a></li>
			</ul>
		</div>
	
	


<div class="admin-biaogelist">
	
    <div class="listbiaoti am-cf">
      <ul class="am-icon-flag on"> 城市列表</ul>
      
      <dl class="am-icon-home" style="float: right;"> 当前位置： 首页 > <a href="#">城市列表</a></dl>
      
      <dl>
        <button type="button" class="am-btn am-btn-danger am-round am-btn-xs am-icon-plus"><a href="{:url('/admin/bazaar/addcity')}"> 添加城市</a></button>
      </dl>
    </div>
    <form class="am-form am-g" id="form" action="" method="post">
          <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
            <thead>
     
              <tr class="am-success">
			
                <th class="table-title">市场名字</th>
                <th width="163px" class="table-set">操作</th>
              </tr>
            </thead>
            <tbody>
            	{foreach $rowset as $row}
              <tr>
                <td>{$row.city_name}</td>
                
                <td><div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                      
                      <button class="am-btn am-btn-default am-btn-xs am-text-danger am-round"><span class="am-icon-trash-o" ></span><a href="{:url('/admin/bazaar/deletecity/id/' . $row.id)}">删除</button></a> 
                    </div>
                  </div>
                </td>
              </tr>
              {/foreach}
            </tbody>
          </table>
          <hr />
        </form>
        {$rowset|raw}
 <div class="foods">
  <ul>
    版权所有@2015. 模板收集自 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> -  More Templates<a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
  </ul>
  <dl>
    <a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a>
  </dl>
</div>

</div>

</div>

</div>


</body>
</html>