<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>订单处理</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__STATIC__/assets/mobile/css/mui.min.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/commom.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/index.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/swiper.min.css" rel="stylesheet" />
		<style>
			.header{padding: 0!important;}
			.header .left,.header .right{margin-top: 5px;}
			.vagetable_tab ul li{width: 20%!important;}
			.vagetable_tab ul li .circular{width: 10px!important;height: 10px!important;line-height: 10px!important;top: 0!important;right: 2px!important;font-size: 8px;}
			.vege-header-div{width: 15%;padding-top: 4.5px;position: fixed;z-index: 9999;right: 0px;color: black;}
			.vege-header-div a img{width: 15px;height: 15px;line-height: 15px;}
			.vege-header-div a p{color: #666666;font-size: 12px;line-height: 4px;}
		</style>
	</head>
	<body>
		<header class="login-herder bgfff oh header">
			<!--<div class="left scan">
				<a href="javascript:;">
					<img src="__STATIC__/assets/mobile/img/sys.jpg">
					<p>扫一扫</p>
				</a>
			</div>-->
			<h1 class="mui-title">{$shop.shop_name}</h1>
			<div class="vege-header-div">
				<a href="{:url('/index/center/message')}">
					<img src="__STATIC__/assets/mobile/img/xiaoxi.jpg" />
					<p>消息</p>
				</a>
			</div>
		</header>
        <div class="bgfff store_index_data oh">
        	<ul>
        		<li>
        			<a href="javascript:;">
	        			<h4>{$sum}</h4>
	        			<p class="f12">单位：（元）</p>
	        			<p class="col-333">今日收入</p>
        			</a>
        		</li>
        		<li>
        			<a href="javascript:;">
	        			<h4>{$count}</h4>
	        			<p class="f12">单位：（笔）</p>
	        			<p class="col-333">今日订单</p>
        			</a>
        		</li>
        		<li>
        			<a href="javascript:;">
	        			<h4>{$goodssum}</h4>
	        			<p class="f12">单位：（数量）</p>
	        			<p class="col-333">今日商品销售</p>
        			</a>
        		</li>
        	</ul>
        </div>
        
		<div class="bgfff vagetable_tab oh">
			<ul class="oh">
				<li>
					<a href="{:url('/shop/order/index')}">
						<p>全部</p>
						<div class="circular">
							
						</div>
					</a>
				</li>
				<li>
					<a href="{:url('/shop/order/djd')}">
						<p>待接单</p>
						<div class="circular">
							
						</div>
					</a>
				</li>
				<li>
					<a href="{:url('/shop/order/dch')}">
						<p>待出货</p>
						<div class="circular">
							
						</div>
					</a>
				</li>
				<li>
					<a href="{:url('/shop/order/psz')}">
						<p>配送中</p>
						<div class="circular">
							
						</div>
					</a>
				</li>
				<li class="stactive">
					<a href="{:url('/shop/order/today')}">
						<p>今日完成</p>
						<div class="circular">
							
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="mt10 store_index_list">
			{foreach $row as $row1}
			<ul>
			
		<a href="{:url('/shop/order/to/orderid/' . $row1.order_id)}">
				<li>
					<img class="left" src="__STATIC__/assets/mobile/img/store_index1.png" />
					<div class="left leftdiv">
						<p class="col-333">{$row1.cq_id}</p>
						<p>订单价：￥{$row1.total}</p>
					</div>
					<div class="right">
						<p class="col-333">
							{if condition="$row1.shop_status == 6"}
							已完成
							{else if condition="$row1.shop_status ==5"}
							配送中
							{/if}
						</p>
						<p>商品数量：{$row1.good_num}件
						</p>
					</div>
				</li>
		</a>
			</ul>
			{/foreach}
		</div>
		{include file="layout/storefooter"}
		<script src="__STATIC__/assets/mobile/js/jquery-3.3.1.min.js"></script>
		<script src="__STATIC__/assets/mobile/js/swiper.min.js"></script>
		<script src="__STATIC__/assets/mobile/js/mui.min.js"></script>
		<script>
			mui('body').on('tap','a',function(){
			    window.top.location.href=this.href;
			});
			$('.vagetable_tab ul li').click(function(){
				$(this).addClass('stactive').siblings().removeClass('stactive');
			})
		</script>
	</body>
</html>
