<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>商家评价</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__STATIC__/assets/mobile/css/commom.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/mui.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/index.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/page.css" rel="stylesheet" />
	</head>
	<body>
		<!--头部开始-->
		<header class="classifidetail-herder">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left reg-top-icon"></a>
			<h1 class="mui-title">{$rowset.shop_name}</h1>
			<span class="yyStatus">营业中></span>
		</header>
		<!--头部结束-->
		<div class="mui-content busidetail-header">	
			<div class="busidetail-header-on">
				<div class="busidetail-header-on-left">
					<img src="__STATIC__/uploads/shop/{$rowset.shop_img}" />
				</div>
				<div class="busidetail-header-on-right">
					<p>
						<span class="mui-icon mui-icon-star icona"></span>
						<span class="mui-icon mui-icon-star icona"></span>
						<span class="mui-icon mui-icon-star icona"></span>
						<span class="bhor-span0">即时送</span>
						<span class="bhor-span0">预约达</span>
					</p>
					<p>距您{$rowset.distance}km,{$rowset.delivery}元起送
						<span class="bhor-span1">26分钟</span>
						<span class="bhor-span1">准时送</span>
					</p>
					<p><span class="mui-icon mui-icon-map icona"></span>
						{$rowset.address}</p>
						<p style="color: #ffa508;"><img src="__STATIC__/assets/mobile/img/u41_03.png" />联系客服 >
					{if condition="$rowset1"}
					   
					<span class="mui-icon mui-icon-star collection-right">已收藏</span>
					   
					{else}
					 <a href="{:url('/index/companydata/shoucang/shop/'.$rowset.id)}" style="color: orange;">
						<span class="mui-icon mui-icon-star collection-right">收藏</span>
					</a>
					{/if}
					</p>
				</div>
			</div>
			<div class="busidetail-header-under">
				<li><a href="{:url('/index/companydata/businessdetail/id/' .$shop)}">商品</a></li>
				<li><a href="{:url('/index/companydata/businessLocation/id/' .$shop)}">评价</a></li>
				<li><a href="{:url('/index/companydata/businessEvaluation/id/' .$shop)}">商家</a></li>
			</div>
		</div>
		<div class="mui-content">
			<div class="busilocation">
				<div  class=".mui-bar mui-slider-indicator mui-segmented-control mui-segmented-control-inverted busilocation-top">
					<a class="mui-control-item" href="#item1mobile">
						全部({$num})
					</a>
					<a class="mui-control-item" href="#item2mobile">
						晒图(0)
					</a>
					<a class="mui-control-item" href="#item3mobile">
						低分(0)
					</a>
					<a class="mui-control-item" href="#">
						最新
					</a>
				</div>
				
				<div id="item1mobile" class="busilocation-body">
					{foreach ($con as $con)}
					<nav>
						<div class="busilocation-body-left">
							<img src="__STATIC__/assets/mobile/img/u667_04.png" />
						</div>
						<div class="busilocation-body-right">
							<h5>{$con.username}<span class="right">{$con.add_time|date="Y/m/d H:i:s",###}</span></h5>
							<p>{$con.content}</p>
							<h5><span>浏览1719</span><b class="right"><img src="__STATIC__/assets/mobile/img/u667_03.png" />赞</b></h5>
						</div>
					</nav>
					{/foreach}
				</div>
				<div id="item2mobile" class="busilocation-body">
					{foreach ($img as $img)}
					<nav>
						<div class="busilocation-body-left">
							<img src="__STATIC__/assets/mobile/img/u667_04.png" />
						</div>
						<div class="busilocation-body-right">
							<h5>{$con.username}<span class="right">{$con.add_time|date="Y/m/d H:i:s",###}</span></h5>
							<p>{$con.content}</p>
							<h5><span>浏览1719</span><b class="right"><img src="__STATIC__/assets/mobile/img/u667_03.png" />赞</b></h5>
						</div>
					</nav>
					{/foreach}
				</div>
				<div id="item3mobile" class="busilocation-body">
					
				</div>
				<div id="item4mobile" class="busilocation-body">
					
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="__STATIC__/assets/mobile/js/jquery-3.3.1.min.js" ></script>
		<script type="text/javascript" src="__STATIC__/assets/mobile/js/mui.min.js"></script>
		<script type="text/javascript" src="__STATIC__/assets/mobile/js/swiper.min.js" ></script>
		<script type="text/jscript">
			mui('.mui-bar').on('tap','a',function(){document.location.href=this.href;});
			$(document).ready(function(){
				$(".classification-left-li:first-child").css({
					"color":"#B6B6B6",
					"background-color":"white"
				});
			});
			$(".classification-left-li").click(function(){
				$(this).css({
					"background-color":"white",
					"color":"#c6c6c6"
				}).siblings("li").css({
					"color":"#B6B6B6",
					"background-color":""
				});
			});
			
		</script>
		
	</body>
</html>


 
