<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>供货商审核</title>
<meta name="description" content="这是一个 index 页面">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="__STATIC__/assets/css/amazeui.min.css"/>
<link rel="stylesheet" href="__STATIC__/assets/css/admin.css">
<script src="__STATIC__/assets/js/jquery.min.js"></script>
<script src="__STATIC__/assets/js/app.js"></script>
</head>
<body>
{include file="layout/top-nav"}

<div class="am-cf admin-main"> 
	{include file="layout/sidebar"}
	<div class="admin">

<div class="admin-biaogelist">
	
    <div class="listbiaoti am-cf">
      <ul class="am-icon-users"> 供货商审核</ul>
      
      <dl class="am-icon-home" style="float: right;">当前位置： 首页 > <a href="#">供货商审核</a></dl>
    </div>
    <form class="am-form am-g">
          <table width="100%" class="am-table am-table-bordered am-table-radius am-table-striped">
            <thead>
              <tr class="am-success">
              	<th class="table-id">申请所在市场</th>
                <th class="table-id">姓名</th>
                <th class="table-type">身份证号</th>
                <th class="table-author am-hide-sm-only">电话</th>
                <th class="table-author am-hide-sm-only">居住地址</th>
                <th class="table-author am-hide-sm-only">上班地点</th>
                <th class="table-author am-hide-sm-only">身份证照片</th>
                <th class="table-author am-hide-sm-only">营业执照</th>
                <th class="table-author am-hide-sm-only">摊位照片</th>
                <th width="130px" class="table-set">操作</th>
              </tr>
            </thead>
            <tbody>
            	{foreach ($rowset as $row)}
          
              <tr>
              	<td>{$shi[$row.bazaar]}</td>
                <td>{$row.true_name}</td>
                <td>{$row.number}</td>
                <td>{$row.phone}</td>
                <td>{$row.dwell}</td>
                <td>{$row.site}</td>
                <td><img src="__STATIC__/uploads/papers/{$row.idimg}" height="50px" width="50px"/></td>
                 <td><img src="__STATIC__/uploads/papers/{$row.pic}" height="50px" width="50px"/></td>
                  <td><img src="__STATIC__/uploads/papers/{$row.boothimg}" height="50px" width="50px"/></td>
                <td>
                	<div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                      <button class="am-btn am-btn-default am-btn-xs am-text-secondary am-round" data-am-modal="{target: '#my-popups'}"><span class="am-icon-pencil-square-o"></span><a href="{:url('/admin/cqshop/ghssh/id/'.$row.id . '/pass/' . 1 . '/bazaar/' . $row.bazaar)}">通过</a></button>
                      <button class="am-btn am-btn-default am-btn-xs am-text-danger am-round"><span class="am-icon-trash-o" ></span><a href="{:url('/admin/cqshop/cqshtg/id/' . $row.id . '/pass/' . 0)}">不通过</a></button>
                    </div>
                 </div>
                </td>
              </tr>
              {/foreach}
            </tbody>
          </table>
        </form>
 
 
 
 
 <div class="foods">
 <ul>版权所有@2018 . 易菜篮</ul>
  <dl>
    <a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a>
  </dl>
</div>
</div>

</div>
<script src="__STATIC__/assets/js/amazeui.min.js"></script>
</body>
</html>