<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>商家中心</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__STATIC__/assets/mobile/css/commom.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/mui.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/index.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/page.css" rel="stylesheet" />
	</head>
	<body>
		<!--头部结束-->
		<div class="mui-content merchantcenter">	
			<div class="merchantcenter-header">
					{if condition="$shop.shop_img == null"}
					<div class="merchantcenter-header-left">
					<img  src="__STATIC__/assets/mobile/img/chatphoto.png" />
				  </div>
					
					{else}
				<div class="merchantcenter-header-left">
					<img src="__STATIC__/uploads/shop/{$shop.shop_img}" />
				</div>
				{/if}
				<div class="merchantcenter-header-right">
					<h4>{$shop.shop_name}</h4>
					<p>
						<span class="mui-icon mui-icon-star icona"></span>
						<span class="mui-icon mui-icon-star icona"></span>
						<span class="mui-icon mui-icon-star icona"></span>
						<span class="mui-icon mui-icon-star icona"></span>
						<span class="mui-icon mui-icon-star icona"></span>
						<span class="right">
							
							{$shop.status} >
						
						</span>
					</p>
					<p class="mt10">店铺号：{$shop.id}</p>
				</div>
			</div>
			<div class="merchantcenter-nav bgfff">
				<div class="contain-nav left">
					<p>出售中的商品</p>
					<span>{$count}</span>
				</div>
				<div class="contain-nav left">
					<p>交易订单数</p>
					<span>{$count1}</span>
				</div>
				<div class="contain-nav left">
					<p>营业收入</p>
					<span>{$sum}</span>
				</div>
			</div>
			<div class="mt10 merchantcenter-list bgfff oh mb50">
	       	    <ul>
	       	    	<li>
	       	    		<a href="{:url('/shop/Shopstore/shopsetting')}">
		       	    		<img class="left" src="__STATIC__/assets/mobile/img/u885_03.png">
		       	    		<p class="left">店铺设置</p>
		       	    		<img class="right" src="__STATIC__/assets/mobile/img/center_right_jt.png">
	       	    		</a>
	       	    	</li>
	       	    	<li>
	       	    		<a href="{:url('/shop/Money/money')}">
		       	    		<img class="left" src="__STATIC__/assets/mobile/img/u885_06.png">
		       	    		<p class="left">我的钱包</p>
		       	    		<img class="right" src="__STATIC__/assets/mobile/img/center_right_jt.png">
	       	    		</a>
	       	    	</li>
	       	    	<!--<li>
	       	    		<a href="javascript:;">
		       	    		<img class="left" src="__STATIC__/assets/mobile/img/u885_10.png">
		       	    		<p class="left">营业时间</p>
		       	    		<img class="right" src="__STATIC__/assets/mobile/img/center_right_jt.png">
	       	    		</a>
	       	    	</li>-->
	       	    	<li>
	       	    		<a href="{:url('/index/center/Message')}">
		       	    		<img class="left" src="__STATIC__/assets/mobile/img/u885_12.png">
		       	    		<p class="left">消息</p>
		       	    		<img class="right" src="__STATIC__/assets/mobile/img/center_right_jt.png">
	       	    		</a>
	       	    	</li>
	       	    	<li>
	       	    		<a href="{:url('/shop/center/setting')}">
		       	    		<img class="left" src="__STATIC__/assets/mobile/img/u885_14.png">
		       	    		<p class="left">设置</p>
		       	    		<img class="right" src="__STATIC__/assets/mobile/img/center_right_jt.png">
	       	    		</a>
	       	    	</li>
	       	    	<li>
	       	    		<a href="{:url('/shop/data/indexZs')}">
		       	    		<img class="left" src="__STATIC__/assets/mobile/img/u885_16.png">
		       	    		<p class="left">数据统计</p>
		       	    		<img class="right" src="__STATIC__/assets/mobile/img/center_right_jt.png">
	       	    		</a>
	       	    	</li>
	       	    	<li>
	       	    		<a href="{:url('/shop/center/orderweighing')}">
		       	    		<img class="left" src="__STATIC__/assets/mobile/img/u885_18.png">
		       	    		<p class="left">智能秤</p>
		       	    		<img class="right" src="__STATIC__/assets/mobile/img/center_right_jt.png">
	       	    		</a>
	       	    	</li>
	       	    </ul>
			</div>
		</div>
		{include file="layout/storefooter"}
		<script type="text/javascript" src="__STATIC__/assets/mobile/js/jquery-3.3.1.min.js" ></script>
		<script type="text/javascript" src="__STATIC__/assets/mobile/js/mui.min.js"></script>
		<script type="text/javascript" src="__STATIC__/assets/mobile/js/swiper.min.js" ></script>
	</body>
</html>	
 
