<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Amaze UI Admin index Examples</title>
<meta name="description" content="这是一个 index 页面">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="__STATIC__/assets/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="__STATIC__/assets/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="__STATIC__/assets/css/amazeui.min.css"/>
<link rel="stylesheet" href="__STATIC__/assets/css/admin.css">
<script src="__STATIC__/assets/js/jquery.min.js"></script>
<script src="__STATIC__/assets/js/app.js"></script>
</head>
<body>
<!--[if lte IE 9]><p class="browsehappy">升级你的浏览器吧！ <a href="http://se.360.cn/" target="_blank">升级浏览器</a>以获得更好的体验！</p><![endif]-->






</head>

<body>
{include file="layout/top-nav"}

<div class="am-cf admin-main"> 
	{include file="layout/sidebar"}
	<div class="admin">

	
	


<div class="admin-biaogelist">
	
    <div class="listbiaoti am-cf">
      <ul class="am-icon-flag on"> 幻灯片</ul>
      
      <dl class="am-icon-home" style="float: right;"> 当前位置： 首页 > <a href="{:url('admin/user/slide')}">添加幻灯片</a></dl>

      
      
    </div>
	
    <div class="fbneirong">
      <form class="am-form" action="{:url('admin/user/save')}" method="post" enctype="multipart/form-data">
        <div class="am-form-group am-cf">
          <div class="zuo">幻灯片1：</div>
          <div class="you">
            <input type="file" class="am-input-sm" name="slide_one" id="doc-ipt-email-1" style="width:200px; height:30px;" />
          </div>
        </div>
       <div class="am-form-group am-cf">
          <div class="zuo">幻灯片2：</div>
          <div class="you">
            <input type="file" class="am-input-sm" name="slide_two" id="doc-ipt-email-1" style="width:200px; height:30px;" />
          </div>
        </div><div class="am-form-group am-cf">
          <div class="zuo">幻灯片3：</div>
          <div class="you">
            <input type="file" class="am-input-sm" name="slide_three" id="doc-ipt-email-1" style="width:200px; height:30px;" />
          </div>
        </div><div class="am-form-group am-cf">
          <div class="zuo">幻灯片4：</div>
          <div class="you">
            <input type="file" class="am-input-sm" name="slide_four" id="doc-ipt-email-1" style="width:200px; height:30px;" />
          </div>
        </div>
       
        <div class="am-form-group am-cf">
          <div class="you" style="margin-left: 11%;">
              <button type="submit" class="am-btn am-btn-success am-radius">添加</button>

          </div>
        </div>
      </form>
    </div>

  
 
 <div class="foods">
  <ul>
    版权所有@2015. 模板收集自 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> -  More Templates<a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
  </ul>
  <dl>
    <a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a>
  </dl>
</div>




</div>

</div>




</div>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__STATIC__/assets/js/polyfill/rem.min.js"></script>
<script src="__STATIC__/assets/js/polyfill/respond.min.js"></script>
<script src="__STATIC__/assets/js/amazeui.legacy.js"></script>
<![endif]--> 

<!--[if (gte IE 9)|!(IE)]><!--> 
<script src="__STATIC__/assets/js/amazeui.min.js"></script>
<!--<![endif]-->



</body>
</html>