<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>修改店铺信息</title>
<meta name="description" content="这是一个 index 页面">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="assets/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="assets/css/amazeui.min.css"/>
<link rel="stylesheet" href="assets/css/admin.css">
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/app.js"></script>
</head>
<body>
{include file="layout/top-nav"}

<div class="am-cf admin-main"> 
	{include file="layout/sidebar"}
	<div class="admin">
<div class="admin-biaogelist">
	
    <div class="listbiaoti am-cf">
      <ul class="am-icon-flag on"> 修改店铺信息</ul>
      
      <dl class="am-icon-home" style="float: right;"> 当前位置： 首页 > <a href="{:url('/admin/shop/show')}">店铺列表</a></dl>

      
      
    </div>
	
    
    <div class="fbneirong">
      <form class="am-form" action="{:url('/admin/shop/update/id/'.$rowset.id)}" method="post" enctype="multipart/form-data">
        <div class="am-form-group am-cf">
          <div class="you">
            店铺名称:<input type="text" class="am-input-sm" id="doc-ipt-email-1" name="shop_name" value="{$rowset.shop_name}">
          </div>
        </div>
         <div class="am-form-group am-cf">
          <div class="you">
          店铺图片: 
          <img src="__STATIC__/uploads/shop/{$rowset.shop_img}" height="50px" width="50px"/>
          <input type="file" class="am-input-sm" id="doc-ipt-pwd-1" name="file">
          </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="you">
          店铺地址:  <input type="text" class="am-input-sm" id="doc-ipt-pwd-1" name="address" value="{$rowset.address}">
          </div>
        </div>
         <div class="am-form-group am-cf">
          <div class="you">
          营业开始时间:  <input type="datetime" class="am-input-sm" id="doc-ipt-pwd-1" name="opentime" value="{$rowset.open_time}">
          </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="you">
          打烊时间:  <input type="datetime" class="am-input-sm" id="doc-ipt-pwd-1" name="closetime" value="{$rowset.close_time}">
          </div>
        </div>
        
        <button type="submit" class="am-btn am-btn-success am-radius">提交</button>
      </form>
    </div>
  
 
 <div class="foods">
 <ul>版权所有@2018 . 易菜篮</ul>
  <dl>
    <a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a>
  </dl>
</div>
</div>
     </div>
</div>

<script src="assets/js/amazeui.min.js"></script>
</body>
</html>