<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>商品详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__STATIC__/assets/mobile/css/mui.min.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/commom.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/index.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/swiper.min.css" rel="stylesheet" />
		<style>
			.h120{height: 120px;}
			.swiper-slide1{overflow: hidden;display: block!important;}
			.swiper-slide1 img{width: 100%;height: 120px;}
			.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom: 0!important;}
			.swiper-container1 { width: 100%;height: 100%;}
		    .swiper-slide2{text-align: center;font-size: 18px;background: #fff;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
		    .mui-popover{width: 100%!important;top: -320px!important;left:0 !important;}
		    .w100{width: 100%!important;}
		    .neworder_title ul li{border: none!important;}
		</style>
	</head>
	<body>
		<header class="login-herder bgfff">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left reg-top-icon"><span>返回</span></a>
			<h1 class="mui-title">商品详情</h1>
		</header>
		<!--banner开始-->
		<div class="swiper-container swiper-container2">
		  <div class="swiper-wrapper h120">
		    <div class="swiper-slide swiper-slide1">
		    	<img src="__STATIC__/uploads/lbt/{$goods.oneimg}" />
		    </div>
		    <div class="swiper-slide swiper-slide1">
		    	<img src="__STATIC__/uploads/lbt/{$goods.twoimg}" />
		    </div>
		    <div class="swiper-slide swiper-slide1">
		    	<img src="__STATIC__/uploads/lbt/{$goods.threeimg}" />
		    </div>
		  </div>
		  <div class="swiper-pagination"></div>
		</div>
		<!--banner结束-->
		<div class="banner_bottom_title bgfff oh">
			<div class="left">
				{$goods.goodsname}￥<span>{$goods.goodsprice}</span>/{$goods.goodsgg}
			</div>
			
		</div>
		
		<div class="mt10 mb10 bgfff">
			<ul class="describe">
				<li>
					<h4>别名</h4>
					<p>{$goods.alias}</p>
				</li>
				<li>
					<h4>产地</h4>
					<p>{$goods.goodsarea}</p>
				</li>
				<li>
					<h4>品牌</h4>
					<p>{$goods.brand_id}</p>
				</li>
				<li>
					<h4>描述</h4>
					<p>{$goods.introduce}</p>
				</li>
				<li>
					<h4>服务</h4>
					<input type="text" disabled="disabled" value="预约达" />
					<input type="text" disabled="disabled" value="及时送" />
					<input type="text" disabled="disabled" value="24h退换" />
				</li>
			</ul>
		</div>
		<div class="swiper-container1 swiper-container swiper-container-horizontal swiper-container-wp8-horizontal other bgfff mt10">
			<p><a style="color: black;">商家信息</a></p>
			<div style="text-align: left;padding-left: 10px;">
				<p>店铺名称：<a href="{:url('/index/shoppurchase/businessdetail/shopid/' .$shop.id .'/cgdh/' .$cgdh .'/goodsid/' .$goods.id .'/id/'.$id .'/shopcgd/' .$shopid)}">{$shop.shop_name}</a></p>
				<p>营业时间：{$shop.open_time}-{$shop.close_time}</p>
				<p>联系电话：{$shop.manager_phone}</p>
				<p>详细地址：{$shop.address}</p>
			</div>
		 </div>
    	<div class="service bgfff mt10 mb50">
		 	<p class="service_title">服务保障</p>
		 	<ul>
		 		<li>
		 			<img src="__STATIC__/assets/mobile/img/fw1.png" />
		 			<div class="left pl10">
			 			<h5>配送服务</h5>
			 			<p>该商品支持预约达、次日达，由物流配送</p>
		 			</div>
		 		</li>
		 		<li>
		 			<img src="__STATIC__/assets/mobile/img/fw2.png" />
		 			<div class="left pl10">
			 			<h5>售后服务</h5>
			 			<p>该商品支持签收起24小时内有质量问题可退</p>
		 			</div>
		 		</li>
		 		<li>
		 			<img src="__STATIC__/assets/mobile/img/fw3.png" />
		 			<div class="left pl10">
			 			<h5>支付方式</h5>
			 			<p>在线支付：支付宝、微信</p>
		 			</div>
		 		</li>
		 	</ul>
		 </div>  
		<form action="{:url('/index/purchase/affirm')}" method="post">
		
		<div class="details_nav bgfff">
			<div class="left">
				<ul>
					<li>
						<a href="#popover2" id="openPopover">
						   <img class="mylanzi" src="__STATIC__/assets/mobile/img/lanziqiu.png" />
						</a>
					</li>
				</ul>
			</div>
			<input class="right" type="submit" value="添加"/>
		    <div id="popover2" class="mui-popover">
			    <ul class="mui-table-view oh">
			    	<li class="mui-table-view-cell w100">
			    		 <p class="neworder_title_text col_61bc67 bgfff">已添加的菜品</p>
						    <div class="neworder_title oh">
								<ul>
									<li class="col_ff5452">品名</li>
									<li class="col_ff5452">数量</li>
									<li class="col_ff5452">单价￥</li>
									<li class="col_ff5452">小计￥</li>
									<li class="col_ff5452">选购商家</li>
								</ul>
							</div>
			    	</li>
				  {foreach $rowset as $row}
				  	<li class="mui-table-view-cell w100">
				  		<div class="neworder_title oh">
			        		<ul class="oh">
			        			<li>{$row.goodsname}</li>
			        			<input type="hidden" name="cgdh"  value="{$cgdh}" />
			        			<input type="hidden" name="id"  value="{$id}" />
			        			<input type="hidden" name="goodsid"  value="{$goods.id}" />
			        			<input type="hidden" name="shopid" value="{$shop.id}" />
			        			<li><input value="{$row.number}" disabled="disabled" /></li>
			        			<li><input value="{$row.goodsmoney}" disabled="disabled" /></li>
			        			<li><input value="{$row.money}" disabled="disabled" /></li>
			        			{if condition="$row.shop_id == null"}
			        			<li><a href="{:url('/index/purchase/gmdishes/goodsname/' . $row.goodsname . '/cgdh/' . $cgdh. '/id/'. $row.id .'/goodsid/' .$row.goods_id)}" id="shopname">请选择店铺</a></li>
			        			{else}
			        			<li><a href="{:url('/index/purchase/gmdishes/goodsname/' . $row.goodsname . '/cgdh/' . $cgdh. '/id/'. $row.id .'/shopid/' .$row.shop_id .'/goodsid/' .$row.goods_id)}" id="shopname">{$aa[$row.shop_id]}</a></li>
			        			{/if}
			        		</ul>
			        	</div>
				  	</li>
				  	{/foreach}
				</ul>
			</div>
       
		</div>
		</form>
		<script src="__STATIC__/assets/mobile/js/jquery-3.3.1.min.js"></script>
		<script src="__STATIC__/assets/mobile/js/mui.min.js"></script>
		<script src="__STATIC__/assets/mobile/js/swiper.min.js"></script>
		<script src="__STATIC__/assets/mobile/js/layer/layer.js"></script>
		<script>
			var mySwiper = new Swiper('.swiper-container2', {
				autoplay: true,//可选选项，自动滑动
				width: window.innerWidth,
				pagination: {
				    el: '.swiper-pagination',
				  },
				})
			var swiper = new Swiper('.swiper-container1', {
		      slidesPerView: 2.5,
		      pagination: {
		        el: '.swiper-pagination',
		        clickable: true,
		      },
		   });
            mui.init({
                swipeBack: true //启用右滑关闭功能
            });
            (function($) {
                $(".mui-scroll-wrapper").scroll({
			        //bounce: false,//滚动条是否有弹力默认是true
			        scrollY: true, //是否竖向滚动
			        indicators: false
			    }); 
                var segmentedControl = document.getElementById('segmentedControl');
                $('.mui-input-group').on('change', 'input', function() {
                    if (this.checked) {
                        var styleEl = document.querySelector('input[name="style"]:checked');
                        var colorEl = document.querySelector('input[name="color"]:checked');
                        if (styleEl && colorEl) {
                            var style = styleEl.value;
                            var color = colorEl.value;
                            segmentedControl.className = 'mui-segmented-control' + (style ? (' mui-segmented-' + style) : '') + ' mui-segmented-' + color;
                        }
                    }
                });
            })(mui);
		
		</script>
		
	</body>
</html>
