<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>待验货</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__STATIC__/assets/mobile/css/mui.min.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/commom.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/page.css" rel="stylesheet" />
	</head>

	<body>
		<header class="login-herder bgfff">
			<!--<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left reg-top-icon"></a>-->
			<a class=" mui-icon mui-icon-left-nav mui-pull-left reg-top-icon f12" href="/index/purchase/vegetableBasket">返回采购单</a>
			<h1 class="mui-title">处理中的订单</h1>
		</header>
		<div class="mui-content">
			<div class="mui-row classifidetail-body-top oh bgfff">
				<ul>
					<li class="classifidetail-top-li">
						<a href="{:url('/index/purchase/order')}">全部</a>
						<div class="circular">
							{$quan}
						</div>
					</li>
					<li class="classifidetail-top-li active">
						<a href="{:url('/index/purchase/processingOrder')}">待验货</a>
						<div class="circular">
							{$yan}
						</div>
					</li>
					<li class="classifidetail-top-li">
						<a href="{:url('/index/purchase/pendingPayment')}">待付款</a>
						<div class="circular">
							{$fu}
						</div>
					</li>
					<li class="classifidetail-top-li">
						<a href="{:url('/index/purchase/pendingVerification')}">待验证</a>
						<div class="circular">
							{$zheng}
						</div>
					</li>
				</ul>
			</div>
			<div class="proOrder-body">
				<p class="firstp bgfff">共{$count}个，待验货{$yan} 待付款{$fu} 待验证{$zheng}</p>
				{foreach $rowset as $row}
				<div class="proOrder-nav bgfff">
					<p>订单编号：{$row.order_id}<span class="right">待验货</span></p>
					<p class="active">{$row.shop_id}</p>
					<p>配送员{$row.rider_id}已取货，正在送货<span class="rightspan"><a href="{:url('/index/examine/Inspection/ddh/' .$row.order_id)}" style="color: white;">验货</a></span></p>
					<div class="clickdiv"></div>
					<div class="inspection hide">
						<ul>
							<li>{$row.goods_id}&nbsp; <span>单价：￥<b>{$row.good_pirce}</b>/kg，共<b>{$row.weight}</b>kg，小计:<b>{$row.total}</b></span></li>
						</ul>
					</div>
				</div>
				{/foreach}
			</div>
			
		</div>
		<script src="__STATIC__/assets/mobile/js/mui.min.js"></script>
		<script type="text/javascript" src="__STATIC__/assets/mobile/js/jquery-3.3.1.min.js" ></script>
		<script type="text/javascript">
			$(".clickdiv").click(function(){
				
				if($(this).next().is(':hidden')){
					$(this).next().show(500);
				}else{
					$(this).next().hide(500);
				}
			});
		</script>
	</body>

</html>