<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__STATIC__/assets/mobile/css/mui.min.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/commom.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/page.css" rel="stylesheet" />
	</head>

	<body>
		<!--
        	作者：lively001@qq.com
        	时间：2018-07-13
        	描述：换绑手机
        -->
			<header class="login-herder bgfff oh">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left reg-top-icon"><span>返回</span></a>
			<h1 class="mui-title">修改密码</h1>
			</header>
			<form id='login-form' class="bgfff"  method="post">
		<div class="mui-content login-body ta-left">
				<h1>修改密码</h1>
				<div class="login-herder"></div>
				<div class="mui-input-row login-section">
					<label>请输入旧密码</label>
					<input  type="password" name="password" class="mui-input-clear mui-input" placeholder="请输入旧密码">
				</div>
				<div class="mui-input-row login-section">
					<label>新密码</label>
					<input  type="password" name="password1" class="mui-input-clear mui-input" placeholder="请输入新密码">
				</div>
				<div class="mui-input-row login-section">
					<label>确认新密码</label>
					<input  type="password" name="password2" class="mui-input-clear mui-input" placeholder="请输入确认密码">
				</div>
				<div class="login-herder"></div>
				<div class="login-herder"></div>
				<div class="login-section">
					<button id='login' class="mui-btn mui-btn-block mui-btn-primary" type="button" onclick="xg()">提交</button>
				</div>
				<div class="login-herder"></div>
			</div>
			</form>
		</div>
		<script src="__STATIC__/assets/mobile/js/jquery-3.3.1.min.js"></script>
		<script src="__STATIC__/assets/mobile/js/layer/layer.js"></script>
		<script src="__STATIC__/assets/mobile/js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
		<script>
			function xg() {
            $.ajax({  
	            type: "POST",  
	            url:"{:url('/index/set/xgpassword')}",  
	            data:$('.bgfff').serialize(),// 序列化表单值  
	            async: false,  
	            error: function(request) {  
	                alert("其他错误,请联系客服");  
	            },  
	             success: function(data) {  
	                    var data = JSON.parse(data);
	                    console.log(data);
	                    if(data['status'] == 1){
	                    	layer.msg('密码修改成功!',{time:2000});
	                    	window.location.href = "{:url('/index/login/logout')}";
	                    } else if(data['status'] == -1){
	                    	layer.msg('请输入原密码!',{time:2000});
	                    } else if(data['status'] == -2){
	                    	layer.msg('原密码错误!',{time:2000});
	                    } else if(data['status'] == -3){
	                    	layer.msg('新密码不能为空!',{time:2000});
	                    } else if(data['status'] == -5){
	                    	layer.msg('确认密码不能为空!',{time:2000});
	                    } else if(data['status'] == -6){
	                    	layer.msg('两次密码不一致!',{time:2000});
	                    } else if(data['status'] == -6){
	                    	layer.msg('密码修改失败!',{time:2000});
	                    } else if(data['status'] == -8){
	                    	layer.msg('密码格式不正确!',{time:2000});
	                    } else if(data['status'] == -9){
	                    	layer.msg('密码最少六位,最多16位!',{time:2000});
	                    } 
            }  
        });  
    }
		</script>
	</body>

</html>