<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>数据统计</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__STATIC__/assets/mobile/css/mui.min.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/commom.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/index.css" rel="stylesheet" />
	</head>
	<body>
		<header class="login-herder bgfff">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left reg-top-icon"><span>返回</span></a>
			<h1 class="mui-title">数据统计</h1>
		</header>
	    <div class="datalist">
	    	<ul>
	    		<li>
	    			<p>今日进货</p>
	    			<b><span>{$count}</span>单</b>
	    		</li>
	    		<li class="centerblue">
	    			<p>本月进货</p>
	    			<b><span>{$count1}</span>单</b>
	    		</li>
	    		<li class="centerblue">
	    			<p>今日支出</p>
	    			<b>￥<span>{$num}</span></b>
	    		</li>
	    		<li>
	    			<p>本月支出</p>
	    			<b>￥<span>{$num1}</span></b>
	    		</li>
	    	</ul>
	    </div>
		<script src="__STATIC__/assets/mobile/js/jquery-3.3.1.min.js"></script>
		<script src="__STATIC__/assets/mobile/js/mui.min.js"></script>
	</body>
</html>
