<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>订单销售展示</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__STATIC__/assets/mobile/css/mui.min.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/commom.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/index.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/swiper.min.css" rel="stylesheet" />
	</head>
	<body>
		<header class="login-herder bgfff oh">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left reg-top-icon"><span>返回</span></a>
			<h1 class="mui-title">订单销售展示</h1>
		</header>
		<div class="indexzslist bgfff oh">
			<ul>
			{foreach $row as $row1}
				<li>
					<p>{$row1.goods_id}</p>
					<span>{$row1.good_num}{$row1.goodsgg}，收入￥{$row1.total}</span>
				</li>
				{/foreach}
			</ul>
		</div>
		<script src="__STATIC__/assets/mobile/js/jquery-3.3.1.min.js"></script>
		<script src="__STATIC__/assets/mobile/js/swiper.min.js"></script>
		<script src="__STATIC__/assets/mobile/js/mui.min.js"></script>
	</body>
</html>
