<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__STATIC__/assets/mobile/css/commom.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/mui.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/index.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/page.css" rel="stylesheet" />
		<style type="text/css">
			.u-flyer {
				display: block;
				width: 50px;
				height: 50px;
				border-radius: 50px;
				position: fixed;
				z-index: 9999;
			}
			#msg {
				position: fixed;
				top: 300px;
				right: 35px;
				z-index: 10000;
				width: 1px;
				height: 52px;
				line-height: 52px;
				font-size: 20px;
				text-align: center;
				color: #fff;
				background: #360;
				display: none
			}
			
		</style>
	</head>
	<body>
		<!--头部开始-->
		<header class="classifidetail-herder">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left reg-top-icon"></a>
			<h1 class="mui-title">{$rowset.shop_name}</h1>
			<span class="yyStatus">
			
				{$kai}>
				
			</span>
		</header>
		<!--头部结束-->
		<div class="mui-content busidetail-header">	
			<div class="busidetail-header-on">
				<div class="busidetail-header-on-left">
					<img src="__STATIC__/uploads/shop/{$rowset.shop_img}" />
				</div>
				<div class="busidetail-header-on-right">
					<p>
						<span class="mui-icon mui-icon-star icona"></span>
						<span class="mui-icon mui-icon-star icona"></span>
						<span class="mui-icon mui-icon-star icona"></span>
						<span class="bhor-span0">即时送</span>
						<span class="bhor-span0">预约达</span>
					</p>
					<p>距您{$rowset.distance}km,{$rowset.delivery}元起送
						<span class="bhor-span1"></span>
						<span class="bhor-span1"></span>
					</p>
					<p><span class="mui-icon mui-icon-map icona"></span>
						{$rowset.address}</p>
					<p style="color: #ffa508;"><img src="__STATIC__/assets/mobile/img/u41_03.png" />联系客服 >
					{if condition="$rowset1"}
					   
					<span class="mui-icon mui-icon-star collection-right">已收藏</span>
					   
					{else}
					 <a href="{:url('/index/ShoppurChase/shoucang/shop/'.$rowset.id)}" style="color: orange;">
						<span class="mui-icon mui-icon-star collection-right">收藏</span>
					</a>
					{/if}
					</p>
				</div>
			</div>
			<div class="busidetail-header-under">
				<li><a href="{:url('/index/ShoppurChase/businessdetail/shopid/' .$shop .'/cgdh/' .$cgdh .'/goodsid/'.$gid)}">商品</a></li>
				<li><a href="{:url('/index/ShoppurChase/businessLocation/shopid/' .$shop.'/cgdh/' .$cgdh .'/goodsid/'.$gid)}">评价</a></li>
				<li><a href="{:url('/index/ShoppurChase/businessEvaluation/shopid/' .$shop.'/cgdh/' .$cgdh .'/goodsid/'.$gid)}">商家</a></li>
			</div>
		</div>
		
		<div class="mui-content">
			<div class="mui-row classification-top oh bgfff">
				<ul>
					{foreach ($one as $one)}
					<li class="classification-top-li"><a href="{:url('/index/ShoppurChase/businessdetail/shopid/'.$shop.'/one/' .$one.id .'/cgdh/' .$cgdh .'/goodsid/' .$gid)}">{$one.catonename}</a></li>
					{/foreach}
					<div class="mui-icon mui-icon-arrowdown pd5"></div>
				</ul>
			</div>
			<div class="mui-row container oh">
				<div id="" class="classification-left mb50">
							<ul>
						<!--<li class="classification-left-li"><a>全部</a></li>-->
					{foreach ($two as $two)}
					<li class="classification-left-li"><a href="{:url('/index/ShoppurChase/businessdetail/shopid/'.$shop.'/one/'.$one1.'/two/' .$two.id.'/cgdh/' .$cgdh.'/goodsid/' .$gid)}">{$two.cattwoname}</a></li>
					{/foreach}
					</ul>
				</div>
				<div class="mui-row busidetail-right mb50">
					<p class="top-p">{$rowset.shop_name}菜店只做更好</p>
					{foreach ($cai as $cai)}
					<div class="busidetail-body">
						
						<div class="busidetail-body-left">
							<img src="__STATIC__/uploads/goodspic/{$cai.goodspic}" />
						</div>
						
						<div class="busidetail-body-right">
							<h4>{$cai.goodsname}</h4>
							<p>{$cai.introduce}</p>
							<p>月售130份 好评率100%</p>
							<p>
								<span id="" class="bbr-spanxxf">
									限一份
								</span>
							</p>
							<h5>
								<b>￥<span>{$cai.discount}</span></b>
								<del>￥{$cai.goodsprice}</del>
								<div class="right">
									<!--<img class="rightimg" src="__STATIC__/assets/mobile/img/u41_04.png" />-->
									{if condition="$shopid == $cai.shopid and $cai.id == $gid"}
									<a href="#" class="mybtn">已选择</a>
									{elseif condition="$shopid !== $cai.shopid and $gid != $cai.id"}
									 <a href="#"  class="mybtn">采购单没有该菜品</a>
										<!--<input class="mybtn" value="选择" type="submit" />-->
									{else}
										<a href="{:url('/index/purchase/affirm/goodsid/' .$cai.id .'/shopid/' .$cai.shopid . '/cgdh/' . $cgdh .'/id/' .$id)}"  class="mybtn">选择</a>
									{/if}
								</div>
							</h5>
						</div>
					</div>
					{/foreach}
				</div>
			</div>
		</div>
		<div id="popover" class="mui-popover mui-popover-action mui-popover-bottom shopmenu mb50">
			
		    <div class="shopmenu-nav">
				<form id="buyGoods" action="">
					<table>
						<thead>
							<tr>
								<th colspan="3">
									<a href="{:url('/index/purchase/confirmOrder/cgdh/' .$cgdh)}" class="right">返回采购单</a>
								</th>
							</tr>
						</thead>
						<tbody id="goods">
							{foreach $pur as $row}
							<tr>
								<td width='40%'>{$row.goodsname}</td>
								<td width='30%'>￥<span>{$row.goodsmoney}<span></td>
								<td width=	'30%' align='center'>
					        	&emsp;&emsp;&emsp;&emsp;
					        	{if condition="$row.shop_id == null"}
					        	<!--<input type='text' size='3' readonly value='1'/>--> 
					        	<a href="{:url('/index/purchase/gmdishes/goodsname/' . $row.goodsname . '/cgdh/' . $cgdh. '/id/'. $row.id .'/goodsid/' .$row.goods_id)}">请选择商家</a>
					        	{else}
					        	<a href="{:url('/index/purchase/gmdishes/goodsname/' . $row.goodsname . '/cgdh/' . $cgdh. '/id/'. $row.id .'/shopid/' .$row.shop_id .'/goodsid/' .$row.goods_id)}">{$aa[$row.shop_id]}</a>
					        	{/if}
					        	</td>
    						</tr>
    						{/foreach}
						</tbody>
					</table>
				</form>
			</div>
		</div>
		<footer>
			<nav class="mui-bar mui-bar-tab busidetail-foot">
				<a href="#popover">
					<img class="busidetail-foot-img" src="__STATIC__/assets/mobile/img/footer3.png" />
				</a>
		
			</nav>
		</footer>
		<script type="text/javascript" src="__STATIC__/assets/mobile/js/jquery-3.3.1.min.js"></script>
		<script src="__STATIC__/assets/mobile/js/layer/layer.js"></script>
		<script type="text/javascript" src="__STATIC__/assets/mobile/js/mui.min.js"></script>
		<script type="text/javascript" src="__STATIC__/assets/mobile/js/swiper.min.js" ></script>
		<script type="text/javascript" src="__STATIC__/assets/mobile/js/jquery.fly.min.js"></script>
		<script type="text/javascript" src="__STATIC__/assets/mobile/js/commodify.js" ></script>
		<script type="text/javascript">
            $(".layui-tab-title li").click(function(){
                var picTabNum = $(this).index();
                //console.log("当前图片标题下标是："+picTabNum);
                sessionStorage.setItem("picTabNum",picTabNum);
            });
            $(function(){
                var getPicTabNum = sessionStorage.getItem("picTabNum");
                $(".layui-tab-title li").eq(getPicTabNum).addClass("layui-this").siblings().removeClass("layui-this");
                $(".layui-tab-content>div").eq(getPicTabNum).addClass("layui-show").siblings().removeClass("layui-show");
//					$(".layui-tab-title").addClass("layui-tab-more");
            })
		</script>
	</body>
</html>
<script>

//$("#addpurorder").click(function(){
//	
//	var saveall = $("#buyGoods").serialize();
//	$.ajax({
//		type:"post",
//		url: "{:url('/index/ShoppurChase/save9')}",///index/ShoppurChase/save9
//		data: {saveall:saveall},
//		datatype:'json',
//		async: false,
//		
//		error: function(request) {
//			alert("其他错误,请联系客服");
//		},
//		
//		success: function(data) {
//			console.log(data);
//			if(data['code']) {
//				layer.msg(data['msg'], {
//			
//					time: 2000
//				});
//				window.location.href = data['url'];
//			} else {
//				layer.msg(data['msg'], {
//					time: 2000
//				});
//			}
//		},
//	});
//})

</script>

 
