<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>注册</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__STATIC__/assets/mobile/css/mui.min.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/commom.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/page.css" rel="stylesheet" />
	</head>

	<body>
		<header class="login-herder bgfff">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left reg-top-icon"></a>
			<h1 class="mui-title">注册</h1>
		</header>
		<div class="mui-content login-body ta-left">
			<div class="choicereg">
				<a href="{:url('/index/register/storemanagement/type/1')}">
					<img src="__STATIC__/assets/mobile/img/u3_cy.png" />
					<span>我是餐企</span>
					<b class="mui-icon mui-icon-forward rightb"></b>
				</a>
			</div>
			<div class="choicereg">
				<a href="{:url('/shop/shopapply/supplierapplication/type/2')}">
					<img src="__STATIC__/assets/mobile/img/u3_ghs.png" />
					<span>我是供货商</span>
					<b class="mui-icon mui-icon-forward rightb"></b>
				</a>
			</div>
			<div class="choicereg">
				<a href="{:url('/courier/Horsenman/missionapplication/type/3')}">
					<img src="__STATIC__/assets/mobile/img/u3_psy.png" />
					<span>我是配送员</span>
					<b class="mui-icon mui-icon-forward rightb"></b>
				</a>
			</div>
		</div>
		<script src="__STATIC__/assets/mobile/js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>