<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>待验证</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__STATIC__/assets/mobile/css/mui.min.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/commom.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/page.css" rel="stylesheet" />
	</head>

	<body>
		<header class="login-herder bgfff">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left reg-top-icon"></a>
			<h1 class="mui-title">二维码验证</h1>
		</header>
		<div class="mui-content">
			<div class="mui-row qrCode-body-header oh">
				<p>当前配送员小A<p>
				<img src="__STATIC__/assets/mobile/img/u616_03.png" />	
			</div>
			<div class="qrCode-body mb50">
				<div class="qrCode-body-title">
					<div class="navicon"></div>
					订单详情
				</div>
				<div class="qrCode-body-nav bgfff">
					<div class="qrCode-body-nav-top">
						<p>订单号1-1011<span class="right">小明的店</span></p>
					</div>
					<div class="qrCode-body-nav-bottom">
						<p class="col-000">
							收货<span class="acgreen">23</span>件 
							<span class="acred">退货<b>2</b>件</span> 
								支付金额<span class="acgreen">￥<b>983</b></span>
							<span class="right">></span>
						</p>
						<p>已退大白菜（3kg）</p>
						<p>已退胡萝卜（2kg）</p>
					</div>
				</div>
				<div class="qrCode-body-nav bgfff">
					<div class="qrCode-body-nav-top">
						<p>订单号1-1011<span class="right">小明的店</span></p>
					</div>
					<div class="qrCode-body-nav-bottom">
						<p class="col-000">
							收货<span class="acgreen">23</span>件 
								支付金额<span class="acgreen">￥<b>983</b></span>
							<span class="right">></span>
						</p>
					</div>
				</div>
			</div>
			<div class="qrCode-body-footer">关闭</div>
		</div>
		<script src="__STATIC__/assets/mobile/js/mui.min.js"></script>
		<script type="text/javascript" src="__STATIC__/assets/mobile/js/jquery-3.3.1.min.js" ></script>
		<script type="text/javascript" src="demo/js/jquery.min.js"></script>
		
	</body>

</html>