<!doctype html>
<html class="no-js">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>修改订单信息</title>
<meta name="description" content="这是一个 index 页面">
<meta name="keywords" content="index">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="__STATIC__/assets/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="__STATIC__/assets/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<link rel="stylesheet" href="__STATIC__/assets/css/amazeui.min.css"/>
<link rel="stylesheet" href="__STATIC__/assets/css/admin.css">
<script src="__STATIC__/assets/js/jquery.min.js"></script>
<script src="__STATIC__/assets/js/app.js"></script>
</head>
<body>
{include file="layout/top-nav"}

<div class="am-cf admin-main"> 
	{include file="layout/sidebar"}
	<div class="admin">
<div class="admin-biaogelist">
	
    <div class="listbiaoti am-cf">
      <ul class="am-icon-flag on"> 修改订单信息</ul>
      
      <dl class="am-icon-home" style="float: right;"> 当前位置： 首页 > <a href="{:url('/admin/order/orderlist')}">订单列表</a></dl>

      
      
    </div>
	
    <div class="fbneirong">
      <form class="am-form" action="{:url('/admin/order/update/id/' . $rowset.id)}" method="post">
        <div class="am-form-group am-cf">
          <div class="you">
            订单类型:<input type="text" class="am-input-sm" id="doc-ipt-email-1" name="ordertype" value="{$rowset.order_type}"/>
          </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="you">
          订单状态<input type="text" name="orderstatus" id="order" value="{$rowset.order_status}" />
          </div>
        </div>
         <div class="am-form-group am-cf">
          <div class="you">
          	订单数量:  <input type="text" class="am-input-sm" id="doc-ipt-pwd-1" name="goodnum" value="{$rowset.good_num}">
          </div>
        </div>
        <div class="am-form-group am-cf">
          <div class="you">
          	订单价格:  <input type="text" class="am-input-sm" id="doc-ipt-pwd-1" name="goodpirce" value="{$rowset.good_pirce}">
          </div>
        </div>
        <!--<div class="am-form-group am-cf">
          <div class="you">
         	 订单创建时间:  <input type="date" class="am-input-sm" id="doc-ipt-pwd-1" name="goodprice" placeholder="请输入创建时间">
          </div>
        </div>-->
        <div class="am-form-group am-cf">
          <div class="you">
          	订单完成时间:  <input type="date" class="am-input-sm" id="doc-ipt-pwd-1" name="complate" >
          </div>
        </div>
        <button type="submit" class="am-btn am-btn-success am-radius">提交</button>
      </form>
    </div>

  
 
 <div class="foods">
 <ul>版权所有@2018 . 易菜篮</ul>
  <dl>
    <a href="" title="返回头部" class="am-icon-btn am-icon-arrow-up"></a>
  </dl>
</div>
</div>
     </div>
</div>

<script src="__STATIC__/assets/js/amazeui.min.js"></script>
</body>
</html>