<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="__STATIC__/assets/mobile/css/mui.min.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/commom.css" rel="stylesheet" />
		<link href="__STATIC__/assets/mobile/css/page.css" rel="stylesheet" />
	</head>

	<body>
			<header class="login-herder bgfff">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left reg-top-icon"></a>
		</header>
		<div class="mui-content login-body ta-left">
			<form action="" method="post" id="logcont">
				{include file="layout/storeinfoMap"}
				<input type="hidden" id="dwcity1" name="GPScity1" />
				<h1>餐企用户登录</h1>
				<div class="login-herder"></div>
				<div class="mui-input-row login-section">
					<label>手机号</label>
					<input id="account" type="text" name="phone" class="mui-input-clear mui-input" placeholder="请输入手机号">
				</div>
				<div class="mui-input-row login-section mt20">
					<label>验证码</label>
					<input id='verify' type="text" name="yzm" class="mui-input-clear mui-input verify" placeholder="请输入验证码">
					<!--<a >点击获取验证码</a>-->
					<button type="button" onclick="yzmreg()">点击获取验证码</button>
				</div>
				<div class="mui-input-row login-section mt20 mb50">
					<a href="login.html">切换到密码登录<img src=""/></a>
				</div>
				<div class="login-herder"></div>
				<div class="login-herder"></div>
				<div class="login-section">
					<button id='login' class="mui-btn mui-btn-block mui-btn-primary" type="button" onclick="log()">登录</button>
				</div>
				<div class="login-herder"></div>
			
			</form>
		</div>
		<script src="__STATIC__/assets/mobile/js/jquery-3.3.1.min.js"></script>
		<script src="__STATIC__/assets/mobile/js/layer/layer.js"></script>
		<script src="__STATIC__/assets/mobile/js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
		<script>
			function log() {
            $.ajax({  
	            type: "POST",  
	            url:"{:url('/index/login/yzmlogin')}",  
	            data:$('#logcont').serialize(),// 序列化表单值  
	            async: false,  
	            error: function(request) {  
	                alert("其他错误,请联系客服");  
	            },  
	             success: function(data) {  
	                    var data = JSON.parse(data);
//	                    alert(data['city']);
	                    console.log(data);
	                    if(data['status'] == 1){
	                    	layer.msg('登录成功!',{time:2000});
	                    	
	                    	window.location.href = '/index/index/index/city/'+data['city'];
	                    }else if(data['status'] == -1){
	                    	layer.msg('手机号不能为空!',{time:2000});
	                    	
	                    } else if(data['status'] == -2){
	                    	layer.msg('验证码不能为空!',{time:2000});
	                    	
	                    } else if(data['status'] == -3){
	                    	layer.msg('审核中!',{time:2000});
	                    	
	                    } else if(data['status'] == 2){
	                    	layer.msg('登录成功!',{time:2000});
	                    	window.location.href = "/shop/myshop/myshop";
	                    }else if(data['status'] == 3){
	                    	layer.msg('登录成功!',{time:2000});
	                    	window.location.href = "/courier/mycenter/mycenter";
	                    }
            }  
        });  
    }
		</script>
		<script>
			function yzmreg() {
				$.ajax({
					type: "POST",
					url: "{:url('/index/login/send')}",
					data: $('#logcont').serialize(), // 序列化表单值  
					async: false,
					error: function(request) {
						alert("其他错误,请联系客服");
					},
					success: function(data) {
						var data = JSON.parse(data);
						console.log(data);
						if(data['status'] == 1) {
							layer.msg('验证码发送成功', {
								time: 2000
							});
							//window.location.href = "/Mobile/Login/login";
						} else if(data['status'] == 0) {
							layer.msg('验证码发送失败', {
								time: 2000
							});

						} 
					}
				});
			}
		</script>
	</body>

</html>